:root {
    --text-color: #333333;
    --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --bg-color: #333;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.container {
    max-width: 525px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg-color);
}

.headshot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
}

.nowrap {
    white-space: nowrap;
}

h1,
h2 {
    font-family: 'IBM PLEX', sans-serif;
    color: var(--text-color);
}

h1 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 5px;
}

h2 {
    font-weight: regular;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 16px;
}

p {
    font-family: 'EB Garamond', sans-serif;
    font-size: 15.5px;
    margin-bottom: 8px !important;
    line-height: 1.5;
    color: var(--text-color);
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 75%;
    }

    .headshot {
        width: 80%;
        height: auto;
        margin: 10% auto;
    }

    h1 {
        font-size: 12vw;
        margin-bottom: 5vw;
    }

    h2 {
        font-size: 8vw;
        margin-bottom: 8vw;
    }

    p {
        font-size: 6.5vw;
        margin-bottom: 4.5vw !important;
        line-height: 1.5;
        orphans: 3;
    }

    .social-icons a {
        margin: 5vw 0;
        font-size: 8vw !important;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.social-icons a {
    display: block;
    margin: 0px 10px;
    color: var(--text-color);
    font-size: 24px;
}

.social-icons a:hover {
    color: #0099ff;
}